# はじめに

このノートではPythonのpolarsライブラリの使い方をまとめておく。polarsライブラリはRustで書かれており、高速に動作することやメモリ効率が良いことが特徴での大規模データを処理するのに適しているライブラリ。

- [Polars — DataFrames for the new era](https://pola.rs/)

## ライブラリの読み込み

In [1]:
# load library
# import numpy as np
# import pandas as pd 
# import seaborn as sns
import polars as pl

# display 10 rows
pl.Config.set_tbl_rows(10)

iris = pl.read_csv('./data/iris.csv')
diamonds = pl.read_csv('./data/diamonds.csv')

## パイプ処理

polarsライブラリの関数はR言語のmagrittrパッケージが提供するパイプ演算子`|>`を使ったパイプライン処理が可能。ただ、パイプを繋げる際は、バックスラッシュ`\`をつけて改行する必要があるので注意が必要。

In [2]:
iris \
  .with_columns(sepal_lw = (pl.col('sepal_length') + pl.col('sepal_width'))) \
  .filter(pl.col('sepal_lw') > 11)

shape: (2, 6)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┬──────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species   ┆ sepal_lw │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       ┆ ---      │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       ┆ f64      │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╪══════════╡
│ 7.7          ┆ 3.8         ┆ 6.7          ┆ 2.2         ┆ virginica ┆ 11.5     │
│ 7.9          ┆ 3.8         ┆ 6.4          ┆ 2.0         ┆ virginica ┆ 11.7     │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┴──────────┘

## 行の操作

特定の条件に一致するレコードを取り出したい場合は`filter()`を利用する。

In [3]:
diamonds.filter(pl.col('table') == 55)

shape: (6_268, 10)
┌───────┬───────────┬───────┬─────────┬───┬───────┬──────┬──────┬──────┐
│ carat ┆ cut       ┆ color ┆ clarity ┆ … ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆   ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆   ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═══╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ Ideal     ┆ E     ┆ SI2     ┆ … ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
│ 0.26  ┆ Very Good ┆ H     ┆ SI1     ┆ … ┆ 337   ┆ 4.07 ┆ 4.11 ┆ 2.53 │
│ 0.3   ┆ Good      ┆ J     ┆ SI1     ┆ … ┆ 339   ┆ 4.25 ┆ 4.28 ┆ 2.73 │
│ 0.23  ┆ Very Good ┆ E     ┆ VS2     ┆ … ┆ 352   ┆ 3.85 ┆ 3.92 ┆ 2.48 │
│ 0.33  ┆ Ideal     ┆ I     ┆ SI2     ┆ … ┆ 403   ┆ 4.49 ┆ 4.51 ┆ 2.78 │
│ …     ┆ …         ┆ …     ┆ …       ┆ … ┆ …     ┆ …    ┆ …    ┆ …    │
│ 0.76  ┆ Ideal     ┆ I     ┆ VVS1    ┆ … ┆ 2753  ┆ 5.89 ┆ 5.87 ┆ 3.66 │
│ 0.73  ┆ Ideal     ┆ I     ┆ VS2     ┆ … ┆ 2756  ┆ 5.82 ┆ 5.84 ┆ 3.59 │
│ 0.71  ┆ Premium   ┆ E     ┆ SI1     ┆ … ┆ 2756  ┆ 5.79 ┆ 5.74 ┆ 3.49 │
│ 0.72  ┆ Good      ┆ D     ┆ SI1     ┆ … ┆ 2757  ┆ 5.69 ┆ 5.75 ┆ 3.61 │
│ 0.75  ┆ Ideal     ┆ D     ┆ SI2     ┆ … ┆ 2757  ┆ 5.83 ┆ 5.87 ┆ 3.64 │
└───────┴───────────┴───────┴─────────┴───┴───────┴──────┴──────┴──────┘

In [4]:
diamonds.filter(pl.col('table').is_between(55, 56))

shape: (16_313, 10)
┌───────┬───────────┬───────┬─────────┬───┬───────┬──────┬──────┬──────┐
│ carat ┆ cut       ┆ color ┆ clarity ┆ … ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆   ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆   ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═══╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ Ideal     ┆ E     ┆ SI2     ┆ … ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
│ 0.26  ┆ Very Good ┆ H     ┆ SI1     ┆ … ┆ 337   ┆ 4.07 ┆ 4.11 ┆ 2.53 │
│ 0.3   ┆ Good      ┆ J     ┆ SI1     ┆ … ┆ 339   ┆ 4.25 ┆ 4.28 ┆ 2.73 │
│ 0.23  ┆ Ideal     ┆ J     ┆ VS1     ┆ … ┆ 340   ┆ 3.93 ┆ 3.9  ┆ 2.46 │
│ 0.3   ┆ Good      ┆ J     ┆ SI1     ┆ … ┆ 351   ┆ 4.23 ┆ 4.26 ┆ 2.71 │
│ …     ┆ …         ┆ …     ┆ …       ┆ … ┆ …     ┆ …    ┆ …    ┆ …    │
│ 0.71  ┆ Ideal     ┆ E     ┆ SI1     ┆ … ┆ 2756  ┆ 5.71 ┆ 5.73 ┆ 3.54 │
│ 0.71  ┆ Ideal     ┆ G     ┆ VS1     ┆ … ┆ 2756  ┆ 5.76 ┆ 5.73 ┆ 3.53 │
│ 0.71  ┆ Premium   ┆ E     ┆ SI1     ┆ … ┆ 2756  ┆ 5.79 ┆ 5.74 ┆ 3.49 │
│ 0.72  ┆ Good      ┆ D     ┆ SI1     ┆ … ┆ 2757  ┆ 5.69 ┆ 5.75 ┆ 3.61 │
│ 0.75  ┆ Ideal     ┆ D     ┆ SI2     ┆ … ┆ 2757  ┆ 5.83 ┆ 5.87 ┆ 3.64 │
└───────┴───────────┴───────┴─────────┴───┴───────┴──────┴──────┴──────┘

In [5]:
diamonds.filter(pl.col('cut') == 'Premium')

shape: (13_791, 10)
┌───────┬─────────┬───────┬─────────┬───┬───────┬──────┬──────┬──────┐
│ carat ┆ cut     ┆ color ┆ clarity ┆ … ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---     ┆ ---   ┆ ---     ┆   ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str     ┆ str   ┆ str     ┆   ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═════════╪═══════╪═════════╪═══╪═══════╪══════╪══════╪══════╡
│ 0.21  ┆ Premium ┆ E     ┆ SI1     ┆ … ┆ 326   ┆ 3.89 ┆ 3.84 ┆ 2.31 │
│ 0.29  ┆ Premium ┆ I     ┆ VS2     ┆ … ┆ 334   ┆ 4.2  ┆ 4.23 ┆ 2.63 │
│ 0.22  ┆ Premium ┆ F     ┆ SI1     ┆ … ┆ 342   ┆ 3.88 ┆ 3.84 ┆ 2.33 │
│ 0.2   ┆ Premium ┆ E     ┆ SI2     ┆ … ┆ 345   ┆ 3.79 ┆ 3.75 ┆ 2.27 │
│ 0.32  ┆ Premium ┆ E     ┆ I1      ┆ … ┆ 345   ┆ 4.38 ┆ 4.42 ┆ 2.68 │
│ …     ┆ …       ┆ …     ┆ …       ┆ … ┆ …     ┆ …    ┆ …    ┆ …    │
│ 0.79  ┆ Premium ┆ E     ┆ SI2     ┆ … ┆ 2756  ┆ 6.03 ┆ 5.96 ┆ 3.68 │
│ 0.71  ┆ Premium ┆ E     ┆ SI1     ┆ … ┆ 2756  ┆ 5.79 ┆ 5.74 ┆ 3.49 │
│ 0.71  ┆ Premium ┆ F     ┆ SI1     ┆ … ┆ 2756  ┆ 5.74 ┆ 5.73 ┆ 3.43 │
│ 0.72  ┆ Premium ┆ D     ┆ SI1     ┆ … ┆ 2757  ┆ 5.69 ┆ 5.73 ┆ 3.58 │
│ 0.86  ┆ Premium ┆ H     ┆ SI2     ┆ … ┆ 2757  ┆ 6.15 ┆ 6.12 ┆ 3.74 │
└───────┴─────────┴───────┴─────────┴───┴───────┴──────┴──────┴──────┘

In [6]:
# colorカラムがカテゴリ型の場合は、cast(pl.Utf8)で変換してから実行
diamonds.filter(pl.col('color').is_in(['E', 'I']))

shape: (15_219, 10)
┌───────┬───────────┬───────┬─────────┬───┬───────┬──────┬──────┬──────┐
│ carat ┆ cut       ┆ color ┆ clarity ┆ … ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆   ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆   ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═══╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ Ideal     ┆ E     ┆ SI2     ┆ … ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
│ 0.21  ┆ Premium   ┆ E     ┆ SI1     ┆ … ┆ 326   ┆ 3.89 ┆ 3.84 ┆ 2.31 │
│ 0.23  ┆ Good      ┆ E     ┆ VS1     ┆ … ┆ 327   ┆ 4.05 ┆ 4.07 ┆ 2.31 │
│ 0.29  ┆ Premium   ┆ I     ┆ VS2     ┆ … ┆ 334   ┆ 4.2  ┆ 4.23 ┆ 2.63 │
│ 0.24  ┆ Very Good ┆ I     ┆ VVS1    ┆ … ┆ 336   ┆ 3.95 ┆ 3.98 ┆ 2.47 │
│ …     ┆ …         ┆ …     ┆ …       ┆ … ┆ …     ┆ …    ┆ …    ┆ …    │
│ 0.71  ┆ Ideal     ┆ E     ┆ SI1     ┆ … ┆ 2756  ┆ 5.71 ┆ 5.73 ┆ 3.54 │
│ 0.79  ┆ Premium   ┆ E     ┆ SI2     ┆ … ┆ 2756  ┆ 6.03 ┆ 5.96 ┆ 3.68 │
│ 0.71  ┆ Premium   ┆ E     ┆ SI1     ┆ … ┆ 2756  ┆ 5.79 ┆ 5.74 ┆ 3.49 │
│ 0.7   ┆ Very Good ┆ E     ┆ VS2     ┆ … ┆ 2757  ┆ 5.71 ┆ 5.76 ┆ 3.47 │
│ 0.7   ┆ Very Good ┆ E     ┆ VS2     ┆ … ┆ 2757  ┆ 5.69 ┆ 5.72 ┆ 3.49 │
└───────┴───────────┴───────┴─────────┴───┴───────┴──────┴──────┴──────┘

In [7]:
# AND: &
# Or : |
# Xor: ^
# deny: ~
diamonds.filter(
  (pl.col('depth') >= 62) & (pl.col('color') == 'E')
  )

shape: (4_208, 10)
┌───────┬───────────┬───────┬─────────┬───┬───────┬──────┬──────┬──────┐
│ carat ┆ cut       ┆ color ┆ clarity ┆ … ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆   ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆   ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═══╪═══════╪══════╪══════╪══════╡
│ 0.22  ┆ Fair      ┆ E     ┆ VS2     ┆ … ┆ 337   ┆ 3.87 ┆ 3.78 ┆ 2.49 │
│ 0.23  ┆ Very Good ┆ E     ┆ VS2     ┆ … ┆ 352   ┆ 3.85 ┆ 3.92 ┆ 2.48 │
│ 0.23  ┆ Good      ┆ E     ┆ VS1     ┆ … ┆ 402   ┆ 3.83 ┆ 3.85 ┆ 2.46 │
│ 0.25  ┆ Very Good ┆ E     ┆ VS2     ┆ … ┆ 404   ┆ 4.0  ┆ 4.03 ┆ 2.54 │
│ 0.26  ┆ Very Good ┆ E     ┆ VVS1    ┆ … ┆ 554   ┆ 4.06 ┆ 4.09 ┆ 2.55 │
│ …     ┆ …         ┆ …     ┆ …       ┆ … ┆ …     ┆ …    ┆ …    ┆ …    │
│ 0.75  ┆ Very Good ┆ E     ┆ SI1     ┆ … ┆ 2753  ┆ 5.76 ┆ 5.79 ┆ 3.64 │
│ 0.7   ┆ Very Good ┆ E     ┆ SI1     ┆ … ┆ 2753  ┆ 5.63 ┆ 5.67 ┆ 3.54 │
│ 0.77  ┆ Ideal     ┆ E     ┆ SI2     ┆ … ┆ 2753  ┆ 5.84 ┆ 5.86 ┆ 3.63 │
│ 0.7   ┆ Very Good ┆ E     ┆ VS2     ┆ … ┆ 2755  ┆ 5.57 ┆ 5.61 ┆ 3.49 │
│ 0.7   ┆ Very Good ┆ E     ┆ VS2     ┆ … ┆ 2755  ┆ 5.59 ┆ 5.65 ┆ 3.53 │
└───────┴───────────┴───────┴─────────┴───┴───────┴──────┴──────┴──────┘

In [8]:
diamonds.filter(
  (pl.col('cut') == 'Ideal') & (pl.col('color') == 'E') & (pl.col('clarity') == 'VS2')
  )

shape: (1_136, 10)
┌───────┬───────┬───────┬─────────┬───┬───────┬──────┬──────┬──────┐
│ carat ┆ cut   ┆ color ┆ clarity ┆ … ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---   ┆ ---   ┆ ---     ┆   ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str   ┆ str   ┆ str     ┆   ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════╪═══════╪═════════╪═══╪═══════╪══════╪══════╪══════╡
│ 0.7   ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2762  ┆ 5.73 ┆ 5.76 ┆ 3.49 │
│ 0.71  ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2776  ┆ 5.79 ┆ 5.62 ┆ 3.55 │
│ 0.7   ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2777  ┆ 5.7  ┆ 5.67 ┆ 3.53 │
│ 0.71  ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2817  ┆ 5.66 ┆ 5.64 ┆ 3.54 │
│ 0.7   ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2835  ┆ 5.7  ┆ 5.75 ┆ 3.52 │
│ …     ┆ …     ┆ …     ┆ …       ┆ … ┆ …     ┆ …    ┆ …    ┆ …    │
│ 0.7   ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2693  ┆ 5.73 ┆ 5.7  ┆ 3.57 │
│ 0.7   ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2697  ┆ 5.71 ┆ 5.62 ┆ 3.56 │
│ 0.7   ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2697  ┆ 5.73 ┆ 5.63 ┆ 3.56 │
│ 0.71  ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2709  ┆ 5.73 ┆ 5.75 ┆ 3.54 │
│ 0.7   ┆ Ideal ┆ E     ┆ VS2     ┆ … ┆ 2719  ┆ 5.7  ┆ 5.8  ┆ 3.47 │
└───────┴───────┴───────┴─────────┴───┴───────┴──────┴──────┴──────┘

## 列の操作

In [9]:
diamonds.select('carat', 'cut')

shape: (53_940, 2)
┌───────┬───────────┐
│ carat ┆ cut       │
│ ---   ┆ ---       │
│ f64   ┆ str       │
╞═══════╪═══════════╡
│ 0.23  ┆ Ideal     │
│ 0.21  ┆ Premium   │
│ 0.23  ┆ Good      │
│ 0.29  ┆ Premium   │
│ 0.31  ┆ Good      │
│ …     ┆ …         │
│ 0.72  ┆ Ideal     │
│ 0.72  ┆ Good      │
│ 0.7   ┆ Very Good │
│ 0.86  ┆ Premium   │
│ 0.75  ┆ Ideal     │
└───────┴───────────┘

In [10]:
# vector 
diamonds.get_column('carat')

shape: (53_940,)
Series: 'carat' [f64]
[
	0.23
	0.21
	0.23
	0.29
	0.31
	…
	0.72
	0.72
	0.7
	0.86
	0.75
]

In [11]:
diamonds.select(pl.col('^c.*$'))

shape: (53_940, 4)
┌───────┬───────────┬───────┬─────────┐
│ carat ┆ cut       ┆ color ┆ clarity │
│ ---   ┆ ---       ┆ ---   ┆ ---     │
│ f64   ┆ str       ┆ str   ┆ str     │
╞═══════╪═══════════╪═══════╪═════════╡
│ 0.23  ┆ Ideal     ┆ E     ┆ SI2     │
│ 0.21  ┆ Premium   ┆ E     ┆ SI1     │
│ 0.23  ┆ Good      ┆ E     ┆ VS1     │
│ 0.29  ┆ Premium   ┆ I     ┆ VS2     │
│ 0.31  ┆ Good      ┆ J     ┆ SI2     │
│ …     ┆ …         ┆ …     ┆ …       │
│ 0.72  ┆ Ideal     ┆ D     ┆ SI1     │
│ 0.72  ┆ Good      ┆ D     ┆ SI1     │
│ 0.7   ┆ Very Good ┆ D     ┆ SI1     │
│ 0.86  ┆ Premium   ┆ H     ┆ SI2     │
│ 0.75  ┆ Ideal     ┆ D     ┆ SI2     │
└───────┴───────────┴───────┴─────────┘

In [12]:
diamonds.select(pl.col(pl.Utf8))

shape: (53_940, 3)
┌───────────┬───────┬─────────┐
│ cut       ┆ color ┆ clarity │
│ ---       ┆ ---   ┆ ---     │
│ str       ┆ str   ┆ str     │
╞═══════════╪═══════╪═════════╡
│ Ideal     ┆ E     ┆ SI2     │
│ Premium   ┆ E     ┆ SI1     │
│ Good      ┆ E     ┆ VS1     │
│ Premium   ┆ I     ┆ VS2     │
│ Good      ┆ J     ┆ SI2     │
│ …         ┆ …     ┆ …       │
│ Ideal     ┆ D     ┆ SI1     │
│ Good      ┆ D     ┆ SI1     │
│ Very Good ┆ D     ┆ SI1     │
│ Premium   ┆ H     ┆ SI2     │
│ Ideal     ┆ D     ┆ SI2     │
└───────────┴───────┴─────────┘

In [13]:
diamonds\
  .select('depth', 'table', 'color')\
  .with_columns(
    color = pl.lit('color-') + pl.col('color'),
    table2 = 2 * pl.col('table')
  )

shape: (53_940, 4)
┌───────┬───────┬─────────┬────────┐
│ depth ┆ table ┆ color   ┆ table2 │
│ ---   ┆ ---   ┆ ---     ┆ ---    │
│ f64   ┆ f64   ┆ str     ┆ f64    │
╞═══════╪═══════╪═════════╪════════╡
│ 61.5  ┆ 55.0  ┆ color-E ┆ 110.0  │
│ 59.8  ┆ 61.0  ┆ color-E ┆ 122.0  │
│ 56.9  ┆ 65.0  ┆ color-E ┆ 130.0  │
│ 62.4  ┆ 58.0  ┆ color-I ┆ 116.0  │
│ 63.3  ┆ 58.0  ┆ color-J ┆ 116.0  │
│ …     ┆ …     ┆ …       ┆ …      │
│ 60.8  ┆ 57.0  ┆ color-D ┆ 114.0  │
│ 63.1  ┆ 55.0  ┆ color-D ┆ 110.0  │
│ 62.8  ┆ 60.0  ┆ color-D ┆ 120.0  │
│ 61.0  ┆ 58.0  ┆ color-H ┆ 116.0  │
│ 62.2  ┆ 55.0  ┆ color-D ┆ 110.0  │
└───────┴───────┴─────────┴────────┘

In [14]:
diamonds\
  .select('depth', 'table', 'color')\
  .with_columns(
    new =
    pl.when(pl.col('color') == 'E')
    .then(pl.lit('E'))
    .otherwise(pl.lit('not_E'))
  )

shape: (53_940, 4)
┌───────┬───────┬───────┬───────┐
│ depth ┆ table ┆ color ┆ new   │
│ ---   ┆ ---   ┆ ---   ┆ ---   │
│ f64   ┆ f64   ┆ str   ┆ str   │
╞═══════╪═══════╪═══════╪═══════╡
│ 61.5  ┆ 55.0  ┆ E     ┆ E     │
│ 59.8  ┆ 61.0  ┆ E     ┆ E     │
│ 56.9  ┆ 65.0  ┆ E     ┆ E     │
│ 62.4  ┆ 58.0  ┆ I     ┆ not_E │
│ 63.3  ┆ 58.0  ┆ J     ┆ not_E │
│ …     ┆ …     ┆ …     ┆ …     │
│ 60.8  ┆ 57.0  ┆ D     ┆ not_E │
│ 63.1  ┆ 55.0  ┆ D     ┆ not_E │
│ 62.8  ┆ 60.0  ┆ D     ┆ not_E │
│ 61.0  ┆ 58.0  ┆ H     ┆ not_E │
│ 62.2  ┆ 55.0  ┆ D     ┆ not_E │
└───────┴───────┴───────┴───────┘

In [15]:
diamonds\
  .select('depth', 'table', 'color')\
  .with_columns(
    new =
    pl.when(pl.col('color') == 'E').then(pl.lit('EEE'))\
      .when(pl.col('color') == 'I').then(pl.lit('III'))\
      .otherwise(pl.lit('not_EI'))
  )

shape: (53_940, 4)
┌───────┬───────┬───────┬────────┐
│ depth ┆ table ┆ color ┆ new    │
│ ---   ┆ ---   ┆ ---   ┆ ---    │
│ f64   ┆ f64   ┆ str   ┆ str    │
╞═══════╪═══════╪═══════╪════════╡
│ 61.5  ┆ 55.0  ┆ E     ┆ EEE    │
│ 59.8  ┆ 61.0  ┆ E     ┆ EEE    │
│ 56.9  ┆ 65.0  ┆ E     ┆ EEE    │
│ 62.4  ┆ 58.0  ┆ I     ┆ III    │
│ 63.3  ┆ 58.0  ┆ J     ┆ not_EI │
│ …     ┆ …     ┆ …     ┆ …      │
│ 60.8  ┆ 57.0  ┆ D     ┆ not_EI │
│ 63.1  ┆ 55.0  ┆ D     ┆ not_EI │
│ 62.8  ┆ 60.0  ┆ D     ┆ not_EI │
│ 61.0  ┆ 58.0  ┆ H     ┆ not_EI │
│ 62.2  ┆ 55.0  ┆ D     ┆ not_EI │
└───────┴───────┴───────┴────────┘

## テーブル結合

In [16]:
df_emp = pl.DataFrame(
    {
      'id':[1, 2, 3, 2, 5],
      'name':['A', 'B', 'C', 'D', 'E']
     }
)
df_emp

shape: (5, 2)
┌─────┬──────┐
│ id  ┆ name │
│ --- ┆ ---  │
│ i64 ┆ str  │
╞═════╪══════╡
│ 1   ┆ A    │
│ 2   ┆ B    │
│ 3   ┆ C    │
│ 2   ┆ D    │
│ 5   ┆ E    │
└─────┴──────┘

In [17]:
df_div = pl.DataFrame(
    {
        'id':[1, 2, 3, 4],
        'group':['divA', 'divB', 'divC', 'divD']
     }
)
df_div

shape: (4, 2)
┌─────┬───────┐
│ id  ┆ group │
│ --- ┆ ---   │
│ i64 ┆ str   │
╞═════╪═══════╡
│ 1   ┆ divA  │
│ 2   ┆ divB  │
│ 3   ┆ divC  │
│ 4   ┆ divD  │
└─────┴───────┘

In [18]:
# keyとなるカラムを双方のテーブルで指定できないため、名前を変更する必要がある
df_emp.join(df_div, on = 'id', how = 'inner')

shape: (4, 3)
┌─────┬──────┬───────┐
│ id  ┆ name ┆ group │
│ --- ┆ ---  ┆ ---   │
│ i64 ┆ str  ┆ str   │
╞═════╪══════╪═══════╡
│ 1   ┆ A    ┆ divA  │
│ 2   ┆ B    ┆ divB  │
│ 3   ┆ C    ┆ divC  │
│ 2   ┆ D    ┆ divB  │
└─────┴──────┴───────┘

In [19]:
df_emp.join(df_div, on = 'id', how = 'left')

shape: (5, 3)
┌─────┬──────┬───────┐
│ id  ┆ name ┆ group │
│ --- ┆ ---  ┆ ---   │
│ i64 ┆ str  ┆ str   │
╞═════╪══════╪═══════╡
│ 1   ┆ A    ┆ divA  │
│ 2   ┆ B    ┆ divB  │
│ 3   ┆ C    ┆ divC  │
│ 2   ┆ D    ┆ divB  │
│ 5   ┆ E    ┆ null  │
└─────┴──────┴───────┘

In [20]:
df_emp.join(df_div, on = 'id', how = 'outer')

shape: (6, 4)
┌──────┬──────┬──────────┬───────┐
│ id   ┆ name ┆ id_right ┆ group │
│ ---  ┆ ---  ┆ ---      ┆ ---   │
│ i64  ┆ str  ┆ i64      ┆ str   │
╞══════╪══════╪══════════╪═══════╡
│ 1    ┆ A    ┆ 1        ┆ divA  │
│ 2    ┆ B    ┆ 2        ┆ divB  │
│ 3    ┆ C    ┆ 3        ┆ divC  │
│ 2    ┆ D    ┆ 2        ┆ divB  │
│ 5    ┆ E    ┆ null     ┆ null  │
│ null ┆ null ┆ 4        ┆ divD  │
└──────┴──────┴──────────┴───────┘

In [21]:
df_emp2 = pl.DataFrame(
    {
      'id':[6, 7, 8, 9, 10],
      'name':['F', 'G', 'H', 'I', 'J']
     }
)

pl.concat([df_emp, df_emp2], how = 'vertical')

shape: (10, 2)
┌─────┬──────┐
│ id  ┆ name │
│ --- ┆ ---  │
│ i64 ┆ str  │
╞═════╪══════╡
│ 1   ┆ A    │
│ 2   ┆ B    │
│ 3   ┆ C    │
│ 2   ┆ D    │
│ 5   ┆ E    │
│ 6   ┆ F    │
│ 7   ┆ G    │
│ 8   ┆ H    │
│ 9   ┆ I    │
│ 10  ┆ J    │
└─────┴──────┘

In [22]:
pl.concat([df_emp, df_emp2.select(name2 = pl.col('name'))], how = 'horizontal')

shape: (5, 3)
┌─────┬──────┬───────┐
│ id  ┆ name ┆ name2 │
│ --- ┆ ---  ┆ ---   │
│ i64 ┆ str  ┆ str   │
╞═════╪══════╪═══════╡
│ 1   ┆ A    ┆ F     │
│ 2   ┆ B    ┆ G     │
│ 3   ┆ C    ┆ H     │
│ 2   ┆ D    ┆ I     │
│ 5   ┆ E    ┆ J     │
└─────┴──────┴───────┘

## グループ化、並び替え、重複

In [23]:
diamonds\
  .group_by('color')\
  .mean()

shape: (7, 10)
┌───────┬──────────┬──────┬─────────┬───┬─────────────┬──────────┬──────────┬──────────┐
│ color ┆ carat    ┆ cut  ┆ clarity ┆ … ┆ price       ┆ x        ┆ y        ┆ z        │
│ ---   ┆ ---      ┆ ---  ┆ ---     ┆   ┆ ---         ┆ ---      ┆ ---      ┆ ---      │
│ str   ┆ f64      ┆ str  ┆ str     ┆   ┆ f64         ┆ f64      ┆ f64      ┆ f64      │
╞═══════╪══════════╪══════╪═════════╪═══╪═════════════╪══════════╪══════════╪══════════╡
│ J     ┆ 1.162137 ┆ null ┆ null    ┆ … ┆ 5323.81802  ┆ 6.519338 ┆ 6.518105 ┆ 4.033251 │
│ E     ┆ 0.657867 ┆ null ┆ null    ┆ … ┆ 3076.752475 ┆ 5.41158  ┆ 5.419029 ┆ 3.340689 │
│ G     ┆ 0.77119  ┆ null ┆ null    ┆ … ┆ 3999.135671 ┆ 5.677543 ┆ 5.680192 ┆ 3.505021 │
│ H     ┆ 0.911799 ┆ null ┆ null    ┆ … ┆ 4486.669196 ┆ 5.983335 ┆ 5.984815 ┆ 3.695965 │
│ I     ┆ 1.026927 ┆ null ┆ null    ┆ … ┆ 5091.874954 ┆ 6.222826 ┆ 6.22273  ┆ 3.845411 │
│ D     ┆ 0.657795 ┆ null ┆ null    ┆ … ┆ 3169.954096 ┆ 5.417051 ┆ 5.421128 ┆ 3.342827 │
│ F     ┆ 0.736538 ┆ null ┆ null    ┆ … ┆ 3724.886397 ┆ 5.614961 ┆ 5.619456 ┆ 3.464446 │
└───────┴──────────┴──────┴─────────┴───┴─────────────┴──────────┴──────────┴──────────┘

In [24]:
diamonds\
  .group_by(['color', 'cut', 'clarity'])\
  .sum()\
  .sort(['color', 'cut', 'clarity'], descending=True)

shape: (276, 10)
┌───────┬───────────┬─────────┬────────┬───┬────────┬─────────┬─────────┬────────┐
│ color ┆ cut       ┆ clarity ┆ carat  ┆ … ┆ price  ┆ x       ┆ y       ┆ z      │
│ ---   ┆ ---       ┆ ---     ┆ ---    ┆   ┆ ---    ┆ ---     ┆ ---     ┆ ---    │
│ str   ┆ str       ┆ str     ┆ f64    ┆   ┆ i64    ┆ f64     ┆ f64     ┆ f64    │
╞═══════╪═══════════╪═════════╪════════╪═══╪════════╪═════════╪═════════╪════════╡
│ J     ┆ Very Good ┆ VVS2    ┆ 31.96  ┆ … ┆ 172853 ┆ 183.84  ┆ 184.7   ┆ 114.98 │
│ J     ┆ Very Good ┆ VVS1    ┆ 14.54  ┆ … ┆ 60335  ┆ 107.57  ┆ 108.46  ┆ 66.75  │
│ J     ┆ Very Good ┆ VS2     ┆ 209.86 ┆ … ┆ 979901 ┆ 1192.34 ┆ 1198.53 ┆ 739.22 │
│ J     ┆ Very Good ┆ VS1     ┆ 115.79 ┆ … ┆ 520751 ┆ 731.17  ┆ 735.29  ┆ 454.2  │
│ J     ┆ Very Good ┆ SI2     ┆ 174.2  ┆ … ┆ 767091 ┆ 890.11  ┆ 894.86  ┆ 550.78 │
│ …     ┆ …         ┆ …       ┆ …      ┆ … ┆ …      ┆ …       ┆ …       ┆ …      │
│ D     ┆ Fair      ┆ VS1     ┆ 3.15   ┆ … ┆ 14606  ┆ 26.85   ┆ 26.77   ┆ 17.46  │
│ D     ┆ Fair      ┆ SI2     ┆ 56.95  ┆ … ┆ 243888 ┆ 349.25  ┆ 345.66  ┆ 224.51 │
│ D     ┆ Fair      ┆ SI1     ┆ 53.0   ┆ … ┆ 247854 ┆ 348.61  ┆ 345.51  ┆ 224.16 │
│ D     ┆ Fair      ┆ IF      ┆ 1.14   ┆ … ┆ 4859   ┆ 14.24   ┆ 14.06   ┆ 8.6    │
│ D     ┆ Fair      ┆ I1      ┆ 7.51   ┆ … ┆ 29532  ┆ 30.07   ┆ 29.69   ┆ 19.62  │
└───────┴───────────┴─────────┴────────┴───┴────────┴─────────┴─────────┴────────┘

In [25]:
diamonds\
  .select('depth', 'color')\
  .group_by('color')\
  .mean()\
  .sort('color')

shape: (7, 2)
┌───────┬───────────┐
│ color ┆ depth     │
│ ---   ┆ ---       │
│ str   ┆ f64       │
╞═══════╪═══════════╡
│ D     ┆ 61.698125 │
│ E     ┆ 61.66209  │
│ F     ┆ 61.694582 │
│ G     ┆ 61.757111 │
│ H     ┆ 61.83685  │
│ I     ┆ 61.846385 │
│ J     ┆ 61.887215 │
└───────┴───────────┘

In [26]:
diamonds\
  .select('cut')\
  .unique('cut')

shape: (5, 1)
┌───────────┐
│ cut       │
│ ---       │
│ str       │
╞═══════════╡
│ Very Good │
│ Premium   │
│ Good      │
│ Ideal     │
│ Fair      │
└───────────┘

In [27]:
diamonds\
  .select('cut', 'color')\
  .unique(['cut', 'color'])

shape: (35, 2)
┌───────────┬───────┐
│ cut       ┆ color │
│ ---       ┆ ---   │
│ str       ┆ str   │
╞═══════════╪═══════╡
│ Ideal     ┆ J     │
│ Premium   ┆ E     │
│ Good      ┆ D     │
│ Good      ┆ I     │
│ Premium   ┆ F     │
│ …         ┆ …     │
│ Ideal     ┆ E     │
│ Premium   ┆ J     │
│ Very Good ┆ E     │
│ Fair      ┆ I     │
│ Fair      ┆ G     │
└───────────┴───────┘

## テーブル構造の変換

In [28]:
df_wide = pl.DataFrame(
  {
    'group':['A', 'B', 'C'],
    'a':[10, 1, 4],
    'b':[15, 129, 83]
  }
)
df_wide

shape: (3, 3)
┌───────┬─────┬─────┐
│ group ┆ a   ┆ b   │
│ ---   ┆ --- ┆ --- │
│ str   ┆ i64 ┆ i64 │
╞═══════╪═════╪═════╡
│ A     ┆ 10  ┆ 15  │
│ B     ┆ 1   ┆ 129 │
│ C     ┆ 4   ┆ 83  │
└───────┴─────┴─────┘

In [29]:
df_long = df_wide.melt(
  id_vars = 'group',
  value_vars = ['a', 'b'],
  variable_name = 'col_name',
  value_name = 'val_name'
)
df_long

shape: (6, 3)
┌───────┬──────────┬──────────┐
│ group ┆ col_name ┆ val_name │
│ ---   ┆ ---      ┆ ---      │
│ str   ┆ str      ┆ i64      │
╞═══════╪══════════╪══════════╡
│ A     ┆ a        ┆ 10       │
│ B     ┆ a        ┆ 1        │
│ C     ┆ a        ┆ 4        │
│ A     ┆ b        ┆ 15       │
│ B     ┆ b        ┆ 129      │
│ C     ┆ b        ┆ 83       │
└───────┴──────────┴──────────┘

In [30]:
df_wide2 = df_long.pivot(
  index = 'group',
  columns = 'col_name',
  values = 'val_name'
)
df_wide2

shape: (3, 3)
┌───────┬─────┬─────┐
│ group ┆ a   ┆ b   │
│ ---   ┆ --- ┆ --- │
│ str   ┆ i64 ┆ i64 │
╞═══════╪═════╪═════╡
│ A     ┆ 10  ┆ 15  │
│ B     ┆ 1   ┆ 129 │
│ C     ┆ 4   ┆ 83  │
└───────┴─────┴─────┘

## 文字列処理

In [31]:
# シリーズ
series = pl.Series(['Hello-Polars'])
series.str.slice(0,1)

shape: (1,)
Series: '' [str]
[
	"H"
]

In [32]:
series.str.slice(0, 5)

shape: (1,)
Series: '' [str]
[
	"Hello"
]

In [33]:
series.str.slice(-1)

shape: (1,)
Series: '' [str]
[
	"s"
]

In [34]:
series = pl.Series(['Hello-Polars', 'Hel', 'polar'])
series.str.n_chars()

/var/folders/s7/r__8fgpd56l0s3kgg97276280000gn/T/ipykernel_19380/2243004816.py:2: DeprecationWarning: `n_chars` is deprecated. It has been renamed to `len_chars`.
  series.str.n_chars()

shape: (3,)
Series: '' [u32]
[
	12
	3
	5
]

In [35]:
series = pl.Series(['Hello', '@', 'Polars'])
series.str.concat('+')

shape: (1,)
Series: '' [str]
[
	"Hello+@+Polars"
]

In [36]:
series = pl.Series(['Apple', 'Orange', 'Banana'])
series.str.contains('Apple')

shape: (3,)
Series: '' [bool]
[
	true
	false
	false
]

In [37]:
series = pl.Series(['Apple', 'Orange', 'Banana'])
series.str.replace('a', 'A')

shape: (3,)
Series: '' [str]
[
	"Apple"
	"OrAnge"
	"BAnana"
]

In [38]:
series.str.replace_all('a', 'A')

shape: (3,)
Series: '' [str]
[
	"Apple"
	"OrAnge"
	"BAnAnA"
]

In [39]:
series = pl.Series(['A,B,C', 'A', 'B,C'])
series.str.split(',')

shape: (3,)
Series: '' [list[str]]
[
	["A", "B", "C"]
	["A"]
	["B", "C"]
]

## 繰り返し

In [40]:
def conv(x):
  if x == 'E':
    return('E')
  elif x == 'I':
    return('I')
  else:
    return('not_E_I')
  
series = diamonds.get_column('color')
series.map_elements(conv, return_dtype=pl.Utf8)

shape: (53_940,)
Series: 'color' [str]
[
	"E"
	"E"
	"E"
	"I"
	"not_E_I"
	…
	"not_E_I"
	"not_E_I"
	"not_E_I"
	"not_E_I"
	"not_E_I"
]

In [41]:
df = diamonds.select('color', 'depth', 'table')
df.with_columns(
  new = pl.col('color').map_elements(conv, return_dtype=pl.Utf8)
)

shape: (53_940, 4)
┌───────┬───────┬───────┬─────────┐
│ color ┆ depth ┆ table ┆ new     │
│ ---   ┆ ---   ┆ ---   ┆ ---     │
│ str   ┆ f64   ┆ f64   ┆ str     │
╞═══════╪═══════╪═══════╪═════════╡
│ E     ┆ 61.5  ┆ 55.0  ┆ E       │
│ E     ┆ 59.8  ┆ 61.0  ┆ E       │
│ E     ┆ 56.9  ┆ 65.0  ┆ E       │
│ I     ┆ 62.4  ┆ 58.0  ┆ I       │
│ J     ┆ 63.3  ┆ 58.0  ┆ not_E_I │
│ …     ┆ …     ┆ …     ┆ …       │
│ D     ┆ 60.8  ┆ 57.0  ┆ not_E_I │
│ D     ┆ 63.1  ┆ 55.0  ┆ not_E_I │
│ D     ┆ 62.8  ┆ 60.0  ┆ not_E_I │
│ H     ┆ 61.0  ┆ 58.0  ┆ not_E_I │
│ D     ┆ 62.2  ┆ 55.0  ┆ not_E_I │
└───────┴───────┴───────┴─────────┘

In [42]:
df = diamonds.select('x', 'y', 'z')

def f100(x):
    return x*100

df.select(pl.all().map_elements(f100, return_dtype=pl.Float32))

shape: (53_940, 3)
┌───────┬───────┬───────┐
│ x     ┆ y     ┆ z     │
│ ---   ┆ ---   ┆ ---   │
│ f32   ┆ f32   ┆ f32   │
╞═══════╪═══════╪═══════╡
│ 395.0 ┆ 398.0 ┆ 243.0 │
│ 389.0 ┆ 384.0 ┆ 231.0 │
│ 405.0 ┆ 407.0 ┆ 231.0 │
│ 420.0 ┆ 423.0 ┆ 263.0 │
│ 434.0 ┆ 435.0 ┆ 275.0 │
│ …     ┆ …     ┆ …     │
│ 575.0 ┆ 576.0 ┆ 350.0 │
│ 569.0 ┆ 575.0 ┆ 361.0 │
│ 566.0 ┆ 568.0 ┆ 356.0 │
│ 615.0 ┆ 612.0 ┆ 374.0 │
│ 583.0 ┆ 587.0 ┆ 364.0 │
└───────┴───────┴───────┘

## 欠損値

In [43]:
df = pl.DataFrame(
  {
    'x':[1, 3, 2, 8, 10],
    'y':[10, 4, None, 6, None],
    'z':[None, 8, 7, 8, None]
    }
)

df.drop_nulls()

shape: (2, 3)
┌─────┬─────┬─────┐
│ x   ┆ y   ┆ z   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 3   ┆ 4   ┆ 8   │
│ 8   ┆ 6   ┆ 8   │
└─────┴─────┴─────┘

In [44]:
df.drop_nulls('y')

shape: (3, 3)
┌─────┬─────┬──────┐
│ x   ┆ y   ┆ z    │
│ --- ┆ --- ┆ ---  │
│ i64 ┆ i64 ┆ i64  │
╞═════╪═════╪══════╡
│ 1   ┆ 10  ┆ null │
│ 3   ┆ 4   ┆ 8    │
│ 8   ┆ 6   ┆ 8    │
└─────┴─────┴──────┘

In [45]:
df.filter(pl.col('y').is_null().not_())

shape: (3, 3)
┌─────┬─────┬──────┐
│ x   ┆ y   ┆ z    │
│ --- ┆ --- ┆ ---  │
│ i64 ┆ i64 ┆ i64  │
╞═════╪═════╪══════╡
│ 1   ┆ 10  ┆ null │
│ 3   ┆ 4   ┆ 8    │
│ 8   ┆ 6   ┆ 8    │
└─────┴─────┴──────┘

In [46]:
df.filter(pl.col('y').is_null())

shape: (2, 3)
┌─────┬──────┬──────┐
│ x   ┆ y    ┆ z    │
│ --- ┆ ---  ┆ ---  │
│ i64 ┆ i64  ┆ i64  │
╞═════╪══════╪══════╡
│ 2   ┆ null ┆ 7    │
│ 10  ┆ null ┆ null │
└─────┴──────┴──────┘

In [47]:
df.fill_null(100)

shape: (5, 3)
┌─────┬─────┬─────┐
│ x   ┆ y   ┆ z   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 1   ┆ 10  ┆ 100 │
│ 3   ┆ 4   ┆ 8   │
│ 2   ┆ 100 ┆ 7   │
│ 8   ┆ 6   ┆ 8   │
│ 10  ┆ 100 ┆ 100 │
└─────┴─────┴─────┘

In [48]:
df.fill_null(pl.col('x'))

shape: (5, 3)
┌─────┬─────┬─────┐
│ x   ┆ y   ┆ z   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 1   ┆ 10  ┆ 1   │
│ 3   ┆ 4   ┆ 8   │
│ 2   ┆ 2   ┆ 7   │
│ 8   ┆ 6   ┆ 8   │
│ 10  ┆ 10  ┆ 10  │
└─────┴─────┴─────┘

In [49]:
df.select(
  pl.col('x'),
  pl.col('y').fill_null(1000),
  pl.col('z').fill_null(-100)
)

shape: (5, 3)
┌─────┬──────┬──────┐
│ x   ┆ y    ┆ z    │
│ --- ┆ ---  ┆ ---  │
│ i64 ┆ i64  ┆ i64  │
╞═════╪══════╪══════╡
│ 1   ┆ 10   ┆ -100 │
│ 3   ┆ 4    ┆ 8    │
│ 2   ┆ 1000 ┆ 7    │
│ 8   ┆ 6    ┆ 8    │
│ 10  ┆ 1000 ┆ -100 │
└─────┴──────┴──────┘

In [50]:
df.fill_null(strategy='mean')

shape: (5, 3)
┌─────┬─────┬─────┐
│ x   ┆ y   ┆ z   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 1   ┆ 10  ┆ 7   │
│ 3   ┆ 4   ┆ 8   │
│ 2   ┆ 6   ┆ 7   │
│ 8   ┆ 6   ┆ 8   │
│ 10  ┆ 6   ┆ 7   │
└─────┴─────┴─────┘

In [51]:
df.fill_null(strategy='backward')

shape: (5, 3)
┌─────┬──────┬──────┐
│ x   ┆ y    ┆ z    │
│ --- ┆ ---  ┆ ---  │
│ i64 ┆ i64  ┆ i64  │
╞═════╪══════╪══════╡
│ 1   ┆ 10   ┆ 8    │
│ 3   ┆ 4    ┆ 8    │
│ 2   ┆ 6    ┆ 7    │
│ 8   ┆ 6    ┆ 8    │
│ 10  ┆ null ┆ null │
└─────┴──────┴──────┘

In [52]:
df.fill_null(strategy='forward')

shape: (5, 3)
┌─────┬─────┬──────┐
│ x   ┆ y   ┆ z    │
│ --- ┆ --- ┆ ---  │
│ i64 ┆ i64 ┆ i64  │
╞═════╪═════╪══════╡
│ 1   ┆ 10  ┆ null │
│ 3   ┆ 4   ┆ 8    │
│ 2   ┆ 4   ┆ 7    │
│ 8   ┆ 6   ┆ 8    │
│ 10  ┆ 6   ┆ 8    │
└─────┴─────┴──────┘

## マージ

In [53]:
from pathlib import Path
p = Path('./data/iris')
list(p.glob("*.csv"))

[PosixPath('data/iris/iris_virginica.csv'),
 PosixPath('data/iris/iris_setosa.csv'),
 PosixPath('data/iris/iris_versicolor.csv')]

In [54]:
df_iris = [pl.read_csv(i) for i in list(p.glob('*.csv'))]
df_i = pl.concat(df_iris)
df_i

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬────────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species    │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---        │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str        │
╞══════════════╪═════════════╪══════════════╪═════════════╪════════════╡
│ 6.3          ┆ 3.3         ┆ 6.0          ┆ 2.5         ┆ virginica  │
│ 5.8          ┆ 2.7         ┆ 5.1          ┆ 1.9         ┆ virginica  │
│ 7.1          ┆ 3.0         ┆ 5.9          ┆ 2.1         ┆ virginica  │
│ 6.3          ┆ 2.9         ┆ 5.6          ┆ 1.8         ┆ virginica  │
│ 6.5          ┆ 3.0         ┆ 5.8          ┆ 2.2         ┆ virginica  │
│ …            ┆ …           ┆ …            ┆ …           ┆ …          │
│ 5.7          ┆ 3.0         ┆ 4.2          ┆ 1.2         ┆ versicolor │
│ 5.7          ┆ 2.9         ┆ 4.2          ┆ 1.3         ┆ versicolor │
│ 6.2          ┆ 2.9         ┆ 4.3          ┆ 1.3         ┆ versicolor │
│ 5.1          ┆ 2.5         ┆ 3.0          ┆ 1.1         ┆ versicolor │
│ 5.7          ┆ 2.8         ┆ 4.1          ┆ 1.3         ┆ versicolor │
└──────────────┴─────────────┴──────────────┴─────────────┴────────────┘

In [55]:
pl.concat(
  [pl.read_csv(i) for i in list(p.glob('*.csv'))]
)

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬────────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species    │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---        │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str        │
╞══════════════╪═════════════╪══════════════╪═════════════╪════════════╡
│ 6.3          ┆ 3.3         ┆ 6.0          ┆ 2.5         ┆ virginica  │
│ 5.8          ┆ 2.7         ┆ 5.1          ┆ 1.9         ┆ virginica  │
│ 7.1          ┆ 3.0         ┆ 5.9          ┆ 2.1         ┆ virginica  │
│ 6.3          ┆ 2.9         ┆ 5.6          ┆ 1.8         ┆ virginica  │
│ 6.5          ┆ 3.0         ┆ 5.8          ┆ 2.2         ┆ virginica  │
│ …            ┆ …           ┆ …            ┆ …           ┆ …          │
│ 5.7          ┆ 3.0         ┆ 4.2          ┆ 1.2         ┆ versicolor │
│ 5.7          ┆ 2.9         ┆ 4.2          ┆ 1.3         ┆ versicolor │
│ 6.2          ┆ 2.9         ┆ 4.3          ┆ 1.3         ┆ versicolor │
│ 5.1          ┆ 2.5         ┆ 3.0          ┆ 1.1         ┆ versicolor │
│ 5.7          ┆ 2.8         ┆ 4.1          ┆ 1.3         ┆ versicolor │
└──────────────┴─────────────┴──────────────┴─────────────┴────────────┘

## 練習

In [72]:
path_movies = Path('./data/info_movies')
path_platforms = Path('./data/info_platforms')

df_movies = pl.concat([pl.read_csv(i) for i in list(path_movies.glob('*.csv'))])
df_platforms = pl.concat([pl.read_csv(i) for i in list(path_platforms.glob('*.csv'))])

df_merge = df_movies.join(df_platforms, on = ['ID', 'Age'])

In [71]:
df_clean = \
df_merge\
  .drop_nulls()\
  .filter(
    pl.col('Netflix').is_in([0,1])
    & pl.col('Hulu').is_in([0,1])
    & pl.col('Prime_Video').is_in([0,1])
    & pl.col('Disney').is_in([0,1])
    )\
  .with_columns(
    IMDb = pl.col('IMDb')*10,
    Rotten_Tomatoes = pl.col('Rotten_Tomatoes').str.replace('%', '').cast(pl.Float64)
    )

# df_clean.write_csv('./data/df_clean.csv')
df_clean

shape: (5_000, 15)
┌───────┬─────────────────────────────────┬──────┬─────┬───┬─────────┬──────┬─────────────┬────────┐
│ ID    ┆ Title                           ┆ Year ┆ Age ┆ … ┆ Netflix ┆ Hulu ┆ Prime_Video ┆ Disney │
│ ---   ┆ ---                             ┆ ---  ┆ --- ┆   ┆ ---     ┆ ---  ┆ ---         ┆ ---    │
│ i64   ┆ str                             ┆ i64  ┆ str ┆   ┆ i64     ┆ i64  ┆ i64         ┆ i64    │
╞═══════╪═════════════════════════════════╪══════╪═════╪═══╪═════════╪══════╪═════════════╪════════╡
│ 4     ┆ Back to the Future              ┆ 1985 ┆ 7+  ┆ … ┆ 1       ┆ 0    ┆ 0           ┆ 0      │
│ 6     ┆ Spider-Man: Into the Spider-Ve… ┆ 2018 ┆ 7+  ┆ … ┆ 1       ┆ 0    ┆ 0           ┆ 0      │
│ 9     ┆ Raiders of the Lost Ark         ┆ 1981 ┆ 7+  ┆ … ┆ 1       ┆ 0    ┆ 0           ┆ 0      │
│ 15    ┆ Monty Python and the Holy Grai… ┆ 1975 ┆ 7+  ┆ … ┆ 1       ┆ 0    ┆ 0           ┆ 0      │
│ 18    ┆ Groundhog Day                   ┆ 1993 ┆ 7+  ┆ … ┆ 1       ┆ 0    ┆ 0           ┆ 0      │
│ …     ┆ …                               ┆ …    ┆ …   ┆ … ┆ …       ┆ …    ┆ …           ┆ …      │
│ 16632 ┆ Jos Brothers: The Concert Expe… ┆ 2009 ┆ all ┆ … ┆ 0       ┆ 0    ┆ 0           ┆ 1      │
│ 16634 ┆ The Country Bears               ┆ 2002 ┆ all ┆ … ┆ 0       ┆ 0    ┆ 0           ┆ 1      │
│ 16638 ┆ Inspector Gadget 2              ┆ 2003 ┆ all ┆ … ┆ 0       ┆ 0    ┆ 0           ┆ 1      │
│ 16644 ┆ Doug's 1st Movie                ┆ 1999 ┆ all ┆ … ┆ 0       ┆ 0    ┆ 0           ┆ 1      │
│ 16720 ┆ Pocahontas                      ┆ 1995 ┆ all ┆ … ┆ 0       ┆ 0    ┆ 0           ┆ 1      │
└───────┴─────────────────────────────────┴──────┴─────┴───┴─────────┴──────┴─────────────┴────────┘

In [83]:
df_result=\
df_clean\
  .group_by('Directors')\
  .len()\
  .sort('len', descending=True)\
  .rename({'len':'n'})

df_result

shape: (3_870, 2)
┌─────────────────────────────┬─────┐
│ Directors                   ┆ n   │
│ ---                         ┆ --- │
│ str                         ┆ u32 │
╞═════════════════════════════╪═════╡
│ Robert Stevenson            ┆ 10  │
│ Kenny Ortega                ┆ 9   │
│ Steven Spielberg            ┆ 9   │
│ Jay Roach                   ┆ 8   │
│ Ron Howard                  ┆ 7   │
│ …                           ┆ …   │
│ Kurt Kuenne                 ┆ 1   │
│ Jesper Ganslandt            ┆ 1   │
│ Suresh Triveni              ┆ 1   │
│ Chris Wedge,Carlos Saldanha ┆ 1   │
│ Oliver Schmitz              ┆ 1   │
└─────────────────────────────┴─────┘

In [88]:
df_clean\
  .select('Netflix', 'Hulu', 'Prime_Video', 'Disney', 'IMDb', 'Rotten_Tomatoes')\
  .group_by('Netflix', 'Hulu', 'Prime_Video', 'Disney')\
  .mean()

shape: (12, 6)
┌─────────┬──────┬─────────────┬────────┬───────────┬─────────────────┐
│ Netflix ┆ Hulu ┆ Prime_Video ┆ Disney ┆ IMDb      ┆ Rotten_Tomatoes │
│ ---     ┆ ---  ┆ ---         ┆ ---    ┆ ---       ┆ ---             │
│ i64     ┆ i64  ┆ i64         ┆ i64    ┆ f64       ┆ f64             │
╞═════════╪══════╪═════════════╪════════╪═══════════╪═════════════════╡
│ 0       ┆ 1    ┆ 0           ┆ 1      ┆ 73.5      ┆ 89.25           │
│ 0       ┆ 1    ┆ 0           ┆ 0      ┆ 64.111369 ┆ 70.067285       │
│ 0       ┆ 0    ┆ 1           ┆ 0      ┆ 63.221477 ┆ 64.722222       │
│ 1       ┆ 0    ┆ 1           ┆ 0      ┆ 62.825688 ┆ 58.431193       │
│ 1       ┆ 0    ┆ 0           ┆ 0      ┆ 64.61465  ┆ 66.479299       │
│ …       ┆ …    ┆ …           ┆ …      ┆ …         ┆ …               │
│ 0       ┆ 0    ┆ 0           ┆ 1      ┆ 64.838509 ┆ 63.462733       │
│ 0       ┆ 0    ┆ 1           ┆ 1      ┆ 70.0      ┆ 82.714286       │
│ 1       ┆ 1    ┆ 0           ┆ 0      ┆ 64.6      ┆ 63.6            │
│ 1       ┆ 1    ┆ 1           ┆ 0      ┆ 68.5      ┆ 69.25           │
│ 0       ┆ 1    ┆ 1           ┆ 0      ┆ 62.716867 ┆ 58.596386       │
└─────────┴──────┴─────────────┴────────┴───────────┴─────────────────┘

In [97]:
df_clean\
  .select('Title', 'Country')\
  .with_columns(
    list_split = pl.col('Country').str.split(',').apply(len, return_dtype=pl.Int64).sort(descending = True)
  )

/var/folders/s7/r__8fgpd56l0s3kgg97276280000gn/T/ipykernel_19380/135766426.py:4: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_elements`.
  list_split = pl.col('Country').str.split(',').apply(len, return_dtype=pl.Int64).sort(descending = True)

shape: (5_000, 3)
┌─────────────────────────────────┬────────────────┬────────────┐
│ Title                           ┆ Country        ┆ list_split │
│ ---                             ┆ ---            ┆ ---        │
│ str                             ┆ str            ┆ i64        │
╞═════════════════════════════════╪════════════════╪════════════╡
│ Back to the Future              ┆ United States  ┆ 19         │
│ Spider-Man: Into the Spider-Ve… ┆ United States  ┆ 11         │
│ Raiders of the Lost Ark         ┆ United States  ┆ 11         │
│ Monty Python and the Holy Grai… ┆ United Kingdom ┆ 10         │
│ Groundhog Day                   ┆ United States  ┆ 10         │
│ …                               ┆ …              ┆ …          │
│ Jos Brothers: The Concert Expe… ┆ United States  ┆ 1          │
│ The Country Bears               ┆ United States  ┆ 1          │
│ Inspector Gadget 2              ┆ United States  ┆ 1          │
│ Doug's 1st Movie                ┆ United States  ┆ 1          │
│ Pocahontas                      ┆ United States  ┆ 1          │
└─────────────────────────────────┴────────────────┴────────────┘

In [109]:
df1 = df_clean\
  .select('Title', 'Age', 'Netflix', 'Hulu', 'Prime_Video', 'Disney')\
  .melt(
    id_vars=['Title', 'Age'],
    value_vars=['Netflix', 'Hulu', 'Prime_Video', 'Disney'],
    variable_name='platform'
  )\
  .filter(pl.col('value') == 1)\
  .group_by('platform', 'Age')\
  .len()\
  .rename({'len':'n'})
df1

shape: (20, 3)
┌─────────────┬─────┬──────┐
│ platform    ┆ Age ┆ n    │
│ ---         ┆ --- ┆ ---  │
│ str         ┆ str ┆ u32  │
╞═════════════╪═════╪══════╡
│ Disney      ┆ 18+ ┆ 1    │
│ Disney      ┆ 16+ ┆ 1    │
│ Disney      ┆ all ┆ 169  │
│ Netflix     ┆ all ┆ 413  │
│ Hulu        ┆ 13+ ┆ 100  │
│ …           ┆ …   ┆ …    │
│ Netflix     ┆ 18+ ┆ 526  │
│ Prime_Video ┆ 7+  ┆ 277  │
│ Disney      ┆ 13+ ┆ 36   │
│ Prime_Video ┆ 16+ ┆ 51   │
│ Prime_Video ┆ 18+ ┆ 1039 │
└─────────────┴─────┴──────┘

In [114]:
df2 =\
df1\
  .select('platform', 'n')\
  .group_by('platform')\
  .sum()\
  .rename({'n':'n_all'})

df2

shape: (4, 2)
┌─────────────┬───────┐
│ platform    ┆ n_all │
│ ---         ┆ ---   │
│ str         ┆ u32   │
╞═════════════╪═══════╡
│ Hulu        ┆ 617   │
│ Prime_Video ┆ 2970  │
│ Netflix     ┆ 1386  │
│ Disney      ┆ 342   │
└─────────────┴───────┘

In [126]:
df1\
  .join(df2, on='platform')\
  .with_columns(
    prop = (pl.col('n')/pl.col('n_all')*100).round(2)
  )\
  .select('Age', 'platform', 'prop')\
  .sort('Age')\
  .pivot(
    index='platform',
    columns='Age',
    values='prop'
  )

shape: (4, 6)
┌─────────────┬───────┬──────┬───────┬───────┬───────┐
│ platform    ┆ 13+   ┆ 16+  ┆ 18+   ┆ 7+    ┆ all   │
│ ---         ┆ ---   ┆ ---  ┆ ---   ┆ ---   ┆ ---   │
│ str         ┆ f64   ┆ f64  ┆ f64   ┆ f64   ┆ f64   │
╞═════════════╪═══════╪══════╪═══════╪═══════╪═══════╡
│ Hulu        ┆ 16.21 ┆ 0.49 ┆ 39.38 ┆ 11.99 ┆ 31.93 │
│ Prime_Video ┆ 12.39 ┆ 1.72 ┆ 34.98 ┆ 9.33  ┆ 41.58 │
│ Netflix     ┆ 17.17 ┆ 3.03 ┆ 37.95 ┆ 12.05 ┆ 29.8  │
│ Disney      ┆ 10.53 ┆ 0.29 ┆ 0.29  ┆ 39.47 ┆ 49.42 │
└─────────────┴───────┴──────┴───────┴───────┴───────┘